
@{
    ViewData["Title"] = "Salesman";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title text-primary"><i class="fa fa-building-o"></i> @ViewData["Title"]</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div id="Grid"></div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">

            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section Styles{
}
@section Scripts{
    <script type="text/javascript">$(function () {

            var dataManager = ej.DataManager({
                url: "/api/Salesman",
                adaptor: new ej.WebApiAdaptor(),
                offline: true
            });

            

            var dataManagerCity = ej.DataManager({
            url: "/api/City",
            adaptor: new ej.WebApiAdaptor()
            });

            var dataManagerSupervisor = ej.DataManager({
                url: "/api/Supervisor",
                adaptor: new ej.WebApiAdaptor()
            });
            


            dataManager.ready.done(function (e) {
                $("#Grid").ejGrid({
                    dataSource: ej.DataManager({
                        json: e.result,
                        adaptor: new ej.remoteSaveAdaptor(),
                        insertUrl: "/api/Salesman/Insert",
                        updateUrl: "/api/Salesman/Update",
                        removeUrl: "/api/Salesman/Remove",
                    }),
                    toolbarSettings: {
                        showToolbar: true,
                        toolbarItems: ["add", "edit", "delete", "update", "cancel", "search", "printGrid"]
                    },
                    editSettings: {
                        allowEditing: true,
                        allowAdding: true,
                        allowDeleting: true,
                        showDeleteConfirmDialog: true,
                        editMode: "dialog"
                    },
                    isResponsive: true,
                    enableResponsiveRow: true,
                    allowSorting: true,
                    allowSearching: true,
                    allowFiltering: true,
                    filterSettings: {
                        filterType: "excel",
                        maxFilterChoices: 100,
                        enableCaseSensitivity: false
                    },
                    allowPaging: true,
                    pageSettings: { pageSize: 10, printMode: ej.Grid.PrintMode.CurrentPage },
                    columns: [
                        { field: "SalesmanId", headerText: 'Salesman Id', isPrimaryKey: true, isIdentity: true, visible: false },
                        { field: "SalesmanName", headerText: 'Salesman Name', validationRules: { required: true } },
                        { field: "CityId", headerText: 'City', foreignKeyField: "CityId", foreignKeyValue: "CityName", dataSource: dataManagerCity, validationRules: { required: true } },
                        { field: "SupervisorId", headerText: 'SupervisorId', allowEditing: true, foreignKeyField: "SupervisorId", foreignKeyValue: "Name", dataSource: dataManagerSupervisor, validationRules: { required: true } },
                        //{ headerText: 'Salesman Location', template: "<a href='/Salesman/SalesmanLocation/{{:SalesmanId}}'>Salesman Location</a>" },
                    ],
                    actionComplete: "complete",
                });
            });


        });

        function complete(args) {
            if (args.requestType == 'beginedit') {
                $("#" + this._id + "_dialogEdit").ejDialog({ title: "Edit Record" });
            }
            if (args.requestType == 'beginedit' || args.requestType == 'add') {
                $('#GridCityId').ejDropDownList({ change: 'CityDdlChange' });
                
            }
        }

        function CityDdlChange(e) {
            $.ajax({
                url: '/api/Supervisor/GetSupervisorByCityId/' + e.selectedValue,
                type: 'GET',
                success: function (data) {
                    $("#GridSupervisorId").ejDropDownList({
                        dataSource: data,
                        fields: { id: 'SupervisorId', text: 'Name', value: 'SupervisorId' },
                      
                    });
                }
            });
        }

        
        
    </script>
}
